<%- layout("partials/boilerplate.ejs") %> 
<body>
    <div class="container">
        <h1>Area Cover</h1>
        <ul>
            <li>Welwyn Garden City</li>
            <li>Hatfield</li>
            <li>Stevenage</li>
        </ul>
        
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="card" style="width: 25rem;">
                    <img src="https://www.google.com/maps/vt/data=POfax97nclUSKgM8AagiTlEs6fJlSTbbeIuzGECax6l4lR0Cx4UpiZ0xSGt9VctbtIeZF_FWfSCH3X3RAfhMp5_nN6mj4oMZS0uz01FumJzGzjtVEYqJmgBQBJr_qE8IIiqbnU-Sh0efjJt03O2tPrbSwKqbRQiFcp8WAZl_kcurnLb6rAx0OJ1QoTNBfMl5HmPb5kDnEoUqauzXTVKVBhM7e_77yoih1VJ_jq6-fg6MXVK__YhVW6PGdnmR" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Welwyn Garden City</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card" style="width: 25rem;">
                    <img src="https://www.google.com/maps/vt/data=KudRksRbigLrZtAZfBenUrA9o-xyNPez4sRZPuqxwII9zaFRKrLNSGIonQRD-rrJNpU8xVMpjYnfjllcYq734PHt-52ewi17jT1nYliw2CgJR1pUFZ02lMLdiRVh7fw65MIAcX3Ooa3WkpQS6_ksCQPoR8EuQsdTmZtxdrkT1zqbylFvAgCOUAaZZ9ITFu3bpJIw9mV6LRzrHheiQCxWtEqdJ8UvwxqhvyOyrui6WS4PfK4YM3rwejMVYGRdeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hatfield</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="card" style="width: 25rem;">
                    <img src="https://www.google.com/maps/vt/data=kNPZeS4SOJvIn6IltMRXIv7KidMB9xJjU-zhwgi7KB0l4f2BfkmxXXQR1Rh4jTS17K5bImC-B3oAqXXJKv_eBlOXxRe7ZLoowTmsqqAF7UPLCLp3eKAy9XZD7bM_40kzjC_gq1NmGFcyvb4xaO0V8697rBEq9C-kGlmcTIkQXcQWFaPhAbvxFWEouxAdSKbTxYt3w7biDrCAXqzgERsWaisYMQHtefrZPjdOlFAadNTFfLvRLhCDbc3Rljf5dQ" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Stevenage</h5>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
</body>
