<%- layout("partials/boilerplate.ejs") %>
<style>
    /* Carousel styling */
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 100vh;
    }

    .carousel-item:nth-child(1) {
        background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
        #introCarousel {
            margin-top: -58.59px;
        }
    }


</style>

<body class="">
    <%- include("../partials/flash.ejs") %>
    <script
        type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 5000); </script>
        <!-- Carousel wrapper -->
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong mt-1" data-mdb-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
        </ol>
    
        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center py-5">
                            <h1 class="mb-3 logo logo-color home-font p-2">Driving instructor in Welwyn Garden City</h1>
                            <h5 class="mb-4">Making learning easy</h5>
                            <a id="driving-sub">
                                <h5 id="demo"></h5>
                            </a>
                            <a class="btn btn-primary btn-lg m-2" href="/enquiry">Book Your First appointment</a>
                                <br>
                                <h2>Or</h2>
                            <a href="tel:+447711112080"><h3><u>Call us on 07711112080</u></h3></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/typing.js"></script>
</body>