<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=PT+Serif:wght@700&family=Petrona:ital,wght@1,900&family=Roboto:wght@300&family=Rubik+Moonrocks&family=Tangerine:wght@700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/style.css">
        <style>
            /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */
            #map {
                height: 50%;
                width: 50%;
            }

            /* Optional: Makes the sample page fill the window. */
            html,
            body {
                height: 100%;

                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <main>
        <%- include("navbar.ejs") %>
            <%- body %>



                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                        crossorigin="anonymous"></script>

    </main>

</html>