<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted border">
    <!-- Section: Social media -->
    
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h1 class="text-uppercase text-center fw-bold mb-4 logo logo-color">
                        <i class="fas fa-gem me-3"></i>J W Driving School
                    </h1>
                    <p class="text-center">
                        
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <u>Useful links</u> 
                    </h6>
                    <p>
                        <a href="/prices" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="/contact" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-dark " id="black">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <u>Contact</u>
                    </h6>
                    <p><i class="fas fa-home me-3">John Walker</i></p>
                    <p><i class="fas fa-home me-3">27 Heronswood road</i></p>
                    <p><i class="fas fa-home me-3">Welwyn Garden City</i></p>

                    <p>
                        <i class="fas fa-envelope me-3"> <a href="mailto:johnwalker120760@gmail.com">johnwalker120760@gmail.com</a></i>
                        
                    </p>
                    <p><i class="fas fa-print me-3"> <a href="tel:+447711112080">+447711112080</a></i></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold">J W Driving School</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->