
    <nav class="navbar navbar-expand-lg bg-white fs-3">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo"  href="#"><h1 class="logo logo-color logo-size">J W Driving School</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse logo nav-font-size" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active  nav-font-size" aria-current="page" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link  nav-font-size" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  nav-font-size" href="/reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  nav-font-size" href="/map">Area Cover</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  nav-font-size" href="/prices">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  nav-font-size" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <% if(currentUser!="") {%> 
                    <a href="/auth/logout"><button class="btn btn-sm">Log Out</button></a>
                <% }else{ %> 
                    <a href="/auth/google"><button class="btn btn-sm">Log In</button></a>          
                    <% } %> 

                <a href="tel:+447377515606"></a><button class="btn btn-primary">Click to book</button></a>
            </div>
        </div>
    </nav>

